  <header> 
    <div class="headernav">
      <h1> BLOGG </h1>
      <nav>
        <ul class="headermenu">
            <li><a routerLink="/">Start</a></li>
            <li><a routerLink="/latest-articles">Latest articles</a></li>
            <li><a routerLink="/all-articles">All articles</a></li>
            <li *ngIf="!isUserLogged"><a routerLink="/log-in">Login</a></li>
            <li *ngIf="isUserLogged"><a routerLink="/add-article">{{ navbar.addArticles }}</a></li>
        </ul>
      </nav>
    </div>   
</header> 






