<div class="container-fluid mb-5">
    <h1>Lägg till artiklar</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate ng-submit="">


        <div class="form-group">
            <label>Title 
                <small [class.d-none]="title.valid || title.touched">(Required field*)</small>
            </label> 
            <small class="text-danger" [class.d-none]="title.valid || title.untouched"> (Minimum 10 symbols required)</small>
            <input type="text" required #title="ngModel" minlength="10" [class.is-valid]="title.valid" [class.is-invalid]="title.invalid && title.touched" class="form-control" name="Title" [(ngModel)]="userModel.title">
            
        </div> 

        <div class="form-group">
            <label>Content 
                <small [class.d-none]="title.valid || title.touched">(Required field*)</small>
            </label> 
            <small class="text-danger" [class.d-none]="content.valid || content.untouched"> (Content is required)</small>
            <textarea  type="text" cols="3" rows="8" required #content="ngModel" [class.is-valid]="content.valid" [class.is-invalid]="content.invalid && content.touched" class="form-control" name="Content" [(ngModel)]="userModel.content"></textarea>
        </div>

        <div class="form-group">
            <label>Writer</label> <small> (Optional field)</small>
            <input type="text" class="form-control" name="Writer" [(ngModel)]="userModel.writer">
            
        </div>

        <div class="form-group">
            <label>Time to read 
                <small [class.d-none]="timetoread.valid || timetoread.touched"> (Required field*) </small> 
            </label> 
            <small class="text-danger" [class.d-none]="timetoread.valid || timetoread.untouched"> (Enter numerical minutes)</small>
            <input type="number" required #timetoread="ngModel" [class.is-valid]="timetoread.valid" [class.is-invalid]="timetoread.invalid && timetoread.touched" class="form-control" name="timeToRead" [(ngModel)]="userModel.timetoread">
            
        </div>

        <button class="btn btn-secondary" type="submit" [disabled]="userForm.form.invalid">Submit!</button> 
    </form>
</div>
